# Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Tópicos

Neste desafio você aprenderá:

- Média;
- Mediana;
- Moda;
- Desvio padrão.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("desafio1.csv", sep = ',')

In [5]:
df.shape

(7000, 12)

In [6]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [7]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [24]:
df1 = df.groupby('estado_residencia')['pontuacao_credito'].agg({'moda': lambda x: x.mode(),
                                                              'mediana' : 'median', 
                                                              'media' : 'mean', 
                                                              'desvio_padrao' : 'std'})

<ipython-input-24-90bab7b97040>:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  df1 = df.groupby('estado_residencia')['pontuacao_credito'].agg({'moda': lambda x: x.mode(),

In [25]:
df1

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [32]:
# Transposição do 
df_T = df1.transpose()
df_T

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [34]:
#Convert para arquivo json
df_T.to_json('submission.json')